html {
  font-size: 16px;
}
body {
  font-family: "Lato", sans-serif;
  color: var(--primary-text-color);
  background: var(--primary-color);
  /* font-weight: 700; */
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 10vw;
  z-index: 9;
  background-color: var(--accent-color);
  justify-content: space-between;
}
.logo {
  height: 3rem;
  border-radius: 50%;
}
.links-container{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin-left: 7.5%;
}
.links{
    color: var(--primary-text-color);
    text-decoration: none;
    text-transform: capitalize;
    padding: .5rem 1rem;
    transition: .2s;
    font-weight: 500;
    
}
.links:hover{
    cursor: pointer;
    color: var(--secondary-text-color);
    
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menubar{
    font-size: 2rem;
    align-items: center;
}
.nav-extras{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}